#cd-timeline::before,.cd-container::after {
    content: ''
}

@-ms-viewport {
    width:device-width
}

.cd-timeline-block:after,.cd-timeline-content:after {
    clear: both
}

.cd-timeline-img,.dot {
    box-shadow: 0 0 0 2px #fff,inset 0 1px 0 rgba(0,0,0,.08),0 2px 0 2px rgba(0,0,0,.05)
}

.cd-timeline-block:after,.cd-timeline-content:after {
    display: table;
    content: ""
}

.cd-container::after {
    display: table;
    clear: both
}

#cd-timeline {
    position: relative;
    padding: 2em 0;
    margin-top: 2em;
    margin-bottom: 2em
}

#cd-timeline::before {
    position: absolute;
    top: 0;
    left: 5px;
    height: 100%;
    width: 3px;
    background: rgba(82,118,142,.25)
}

@media only screen and (min-width:1170px) {
    #cd-timeline {
        margin-top: 2em;
        margin-bottom: 2em
    }

    #cd-timeline::before {
        left: 50%;
        margin-left: -2px
    }
}

.cd-timeline-block {
    position: relative;
    margin: 1.5em 0
}

.cd-timeline-block:first-child {
    margin-top: 0
}

.cd-timeline-block:last-child {
    margin-bottom: 0
}

.cd-timeline-img {
    position: absolute;
    top: 24px;
    background-color: #52768e;
    left: 2px;
    width: 10px;
    height: 10px;
    border-radius: 50%
}

@media only screen and (min-width:1170px) {
    .cd-timeline-block {
        margin: 2em 0
    }

    .cd-timeline-block:first-child {
        margin-top: 0
    }

    .cd-timeline-block:last-child {
        margin-bottom: 0
    }

    .cd-timeline-img {
        width: 10px;
        height: 10px;
        left: 50%;
        margin-left: -5px;
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden
    }

    .cd-timeline-img.is-hidden {
        visibility: hidden
    }

    .cd-timeline-img.bounce-in {
        visibility: visible;
        -webkit-animation: cd-bounce-1 .6s;
        animation: cd-bounce-1 .6s
    }
}

.cd-timeline-content {
    border: 1.5px solid #eee;
    border-radius: .25em;
    position: relative;
    margin-left: 25px;
    background: #fff;
    padding: 1em
}

.cd-timeline-content a {
    transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    text-decoration: none
}

.cd-timeline-content a :hover {
    color: #FF6E40;
    text-decoration: none
}

.cd-timeline-content .title {
    color: #303e49;
    font-size: 1.35em
}

.cd-timeline-content .cd-date {
    font-size: 1em;
    display: inline-block;
    float: left;
    padding: .8em 0;
    color: #888
}

.cd-timeline-content::before {
    content: '';
    position: absolute;
    top: 24px;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid #eee
}

@media only screen and (min-width:768px) {
    .cd-timeline-content .title {
        font-size: 1.35em
    }

    .cd-timeline-content .cd-date {
        font-size: 1em
    }

    .container {
        width: 750px
    }
}

@media (min-width:992px) {
    .container {
        width: 970px
    }
}

@media only screen and (min-width:1170px) {
    .posts-count {
        text-align: left
    }

    .dot {
        margin-left: -3px
    }

    .cd-timeline-content {
        margin-left: 0;
        padding: 1.6em;
        width: 48%
    }

    .cd-timeline-content::before {
        top: 24px;
        left: 100%;
        border-color: transparent transparent transparent #eee
    }

    .cd-timeline-content .cd-date {
        position: absolute;
        width: 100%;
        left: 108%;
        top: 9px;
        font-size: 1em
    }

    .cd-timeline-block:nth-child(even) .cd-timeline-content {
        float: right
    }

    .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
        top: 24px;
        left: auto;
        right: 100%;
        border-color: transparent #eee transparent transparent
    }

    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
        left: auto;
        right: 108%;
        text-align: right
    }

    .cd-timeline-block:nth-child(odd) .cd-timeline-content .title {
        text-align: right
    }

    .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
        -webkit-animation: cd-bounce-2-inverse .6s;
        animation: cd-bounce-2-inverse .6s
    }
}

.posts-count {
    font-size: 1.6em;
    margin: 5px auto;
    text-align: center
}

.dot {
    background-color: #52768e;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 auto 20px
}



a {
    background-color: transparent;
    color: #52768e
}

*,:after,:before {
    box-sizing: border-box
}

body {
    line-height: 1.428571429
}


a:focus,a:hover {
    color: #364e5e;
    text-decoration: underline
}

.container,.container-fluid {
    margin-right: auto;
    margin-left: auto
}

.container-fluid:after,.container-fluid:before,.container:after,.container:before,.row:after,.row:before {
    display: table;
    content: " "
}

.container,.container-fluid {
    padding-left: 15px;
    padding-right: 15px
}

body,html {
    color: #505050;
    font-size: 14px;
    height: 100%;
    position: relative;
    background: #fff;
    font-family: NotoSansHans-Regular,AvenirNext-Regular,arial,Hiragino Sans GB,"Microsoft Yahei","Hiragino Sans GB","WenQuanYi Micro Hei",sans-serif
}
